.header{
    position: sticky;
    height: 2rem;
}

.head-div{
    display: flex;
    align-items: center;
    gap: 3rem;
    position: sticky;
}

.head-text{
    display: flex;
   font-size: 20px;
}

.head-icons{
    gap: 1rem;
    margin-left: 5rem;
}

.i{
    display: flex;
}