.header{
    position: sticky;
   
}

.logo{
    margin-left: 2rem;
}

.head-div{
    display: flex;
    align-items: center;
    gap: 3rem;
    position: sticky;
}

.head-text{
    display: flex;
   font-size: 20px;
}

.head-icons{
    gap: 3rem;
    margin-left: 5rem;
    padding-left: 5rem;
}

.i{
    display: flex;
}

.button-div{
    display: flex ;
    gap: 3rem;
    margin-left:5rem ;
    
}

.button{
    background-color: white;
    border: 0.1rem solid;
    border-color: rgb(112, 112, 112);
    border-radius: 2rem;
    padding: 0.6rem;
}
.h1{
    margin-left: 2rem;
    color: rgb(73, 68, 68);
}

.row-1{
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    margin-top: 3rem;
}
.row-2{
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    margin-top: 3rem;
}

.row-3{
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    margin-top: 3rem;
}

.row-4{
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    margin-top: 3rem;
    
}

.row-5{
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    margin-top: 3rem;
}
.images{
    margin-left: 1.6rem;
    gap: 1rem;
}

.img{
    height: 13rem;
    width: 13rem;
   
}

.img1{
    height: 13rem;
    width: 13rem;
    border: 0.01rem solid;
    border-color:rgb(238, 237, 237) ;
    border-radius: 2rem;
}

.insta{
    height: 14rem;
    width: 14rem;
    border: 0.01rem solid;
    border-color:rgb(238, 237, 237) ;
    border-radius: 2rem;

}
 